.jumbotron{
    background-color: #1abc9c;
    color: white;
}

.jumbotron img{
    width: 300px;
}
body{
    font-family: sans-serif;
}
li{
    list-style: none;}

.articolo{
    width: 90%;
}

.articolo img{
    max-width:200px;
}

.about{
    background-color: #1abc9c;
    color: white;
}

.container-about{
    width: 58%;
}

.linea{
    width: 250px;
    height: 3px;
    background-color: white;
    color: #ffffff00;
}

.footer-alto{
   background-color: #3a546d;
   color: white;
}

.footer-basso{
    background-color: #2c3e50;
    color: white;
}

.icone i{
    border: 1px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.navbar-light .navbar-brand{
    color: white;
}

div.star >i::before
div.star >i::after{
    content:'';
    width: 250px;
    height: 3px;
    background-color: white;
    vertical-align: middle;
    display: inline-block


}